---
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import Knap from "../../components/knap.astro";
import "../../styles/general.css";

export async function getStaticPaths() {
  const url = "https://vvjmazqfuruokrbpmhso.supabase.co/rest/v1/indhold";
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2am1henFmdXJ1b2tyYnBtaHNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE4OTc1MjcsImV4cCI6MTk5NzQ3MzUyN30.YlMWJwKf5ZiuYgrztptMIkJOiiSNUMiGzU40kWk80nc",
    },
  };

  const respons = await fetch(url, options);
  const data = await respons.json();

  return data.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }));
}

const { item } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/bah6hne.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>{item.name}</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <section>
      <div class="imgcon">
        <img src={"../../images/" + `${item.img}` + ".webp"} alt={item.header} />
      </div>
      <div class="indhold">
        <h1>{item.header}</h1>
        <p>{item.tekst}</p>
        <div class="knap">
          <Knap text="Tilbage" id="../../" />
        </div>
      </div>
    </section>
    <Footer />
  </body>
</html>

<style>

  html{
    min-height: 100vh;
  }
  body {
    min-height: 100vh;
  }
  section {
    display: flex;
    background-color: var(--secondarycolor);
    margin: 2rem;
    min-height: 90vh;
  }
  section > * {
    flex-basis: 100%;
  }
  .indhold {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;
  }

  .indhold h1 {
    color: var(--primarycolor);
  }
  .indhold p {
    font-size: 1.2rem;
    color: black;
  }
  .knap {
    align-self: flex-end;
  }
  img {
    height: 100%;
    object-fit: cover;
    align-self: stretch;
  }

  @media (max-width: 768px) {
    section {
      flex-direction: column;
    }
    section h1 {
      font-size: 2.5rem;
      margin-top: 1rem;
    }
    .indhold p {
      font-size: 1rem;
      margin-top: 1rem;
    }
    .knap {
      margin-block: 1.5rem;
    }
  }
</style>
